body {
    color: #fff;
    margin: 1.5rem;
    font-size: 100%;
    line-height: 1.5;
    max-width: 40rem;
    background-color: #8B9296;
    font-family: Arial, sans-serif;
}

* {
    margin: 0;
    color: inherit;
    box-sizing: border-box;
}

header {
    align-items: center;

    p {
        text-transform: uppercase;
    }

    + .tabbed {
        margin-top: 1.5rem;
    }
}

.tabbed {
    padding: 1rem;
    border: 2px solid #4A5056;
    background-color: #666D75;
}

[role="tablist"] {
    padding: 0;

    li,
    a {
        display: block;
        font-weight: 700;
        color: #F3F0B4;
        text-transform: uppercase;
        background-color: #494C54;
    }

    a {
        padding: 1rem 1.5rem;
        text-decoration: none;
        border: 2px solid #222;
    }

    li + li {
        a {
            border-top: 0;
        }
    }

    [aria-selected] {
        color: #494C54;
        background-color: #fff;
    }
}

[role="tabpanel"] {
    color: #000;
    padding: 0 1.5rem;
    background-color: #fff;

    article {
        display: grid;
        padding: 2rem 0;
        grid-gap: 1.5rem;
        align-items: center;
        border-bottom: 1px solid #000;

        &:last-child {
            border-bottom: none;
        }

        img {
            max-width: 100%;
        }

        h3 {
            font-size: 150%;
        }

        p {
            color: #7E8F9D;
            text-transform: capitalize;
        }
    }
}

*:focus {
    outline: none;
    box-shadow: inset 0 0 0 4px lightBlue;
}

@media (min-width: 550px) {
    body {
        margin: 1.5rem auto;
    }

    header {
        display: flex;

        h1 {
            + p {
                margin-left: 1.5rem;
            }
        }

        @supports(gap: none) {
            gap: 1.5rem;

            h1 {
                + p {
                    margin-left: none;
                }
            }
        }
    }

    [role="tablist"] {
        li,
        a {
            border: none;
            display: inline-block;
        }

        li + li {
            margin-left: .5rem;
        }
    }

    [role="tabpanel"] {
        article {
            grid-template-columns: repeat(2, calc(50% - 1.5rem));
        }
    }

    #section-topics {
        article {
            display: flex;
            grid-gap: inherit;
    
            p {
                text-transform: uppercase;
            }

            h3 {
                + p {
                    margin-left: 1rem;
                }
            }

            @supports(gap: none) {
                gap: 1rem;
    
                h1 {
                    + p {
                        margin-left: none;
                    }
                }
            }
        }
    }
}